# ukol-10: Zaměstnanci a Projekty
Úkol můžeš odevzdat buďto jako Jupyter Notebook .ipynb, nebo jako klasický program .py.

### Zadání 1

Uvažuj, že zpracováváš analýzu pro softwarovou firmu. Firma má kanceláře v Praze, Plzni a Liberci. Seznam zaměstnanců pro jednotlivé kanceláře najdeš v souborech zam_praha.csv, zam_plzeň.csv a zam_liberec.csv.

Načti data o zaměstnancích z CSV souborů do tabulek (DataFrame). 

Ke každé tabulce přidej nový sloupec mesto, které bude obsahovat informaci o tom, ve kterém městě zaměstnanec pracuje.

Vytvoř novou tabulku zamestnanci a ulož do ní informace o všech zaměstnancích (operace concat).

Ze souboru platy_2021_02.csv načti platy zaměstnanců za únor 2021. 

Propoj tabulku (operace join) s platy a tabulku se zaměstnanci pomocí sloupce cislo_zamestnance.

Porovnej rozměry tabulek před spojením a po spojení. Pokud nemá některý zaměstnanec plat za únor, znamená to, že v naší firmě již nepracuje.

Spočti průměrný plat zaměstnanců v jednotlivých kancelářích.

In [35]:
import pandas
praha = pandas.read_csv('zam_praha.csv')
plzen = pandas.read_csv('zam_plzen.csv')
liberec = pandas.read_csv('zam_liberec.csv')

praha["mesto"] = "Praha"
plzen["mesto"] = "Plzeň"
liberec["mesto"] = "Liberec"

zamestnanci = pandas.concat([praha, plzen, liberec])
zamestnanci.head()
zamestnanci.shape

      jmeno prijimeni   telefonni_cislo  cislo_zamestnance  mesto
0     Brian      Hall  +421 949 656 098                 30  Praha
1     Marta  Kolářová       730 456 163                 32  Praha
2      John   Moravec       725 092 179                 33  Praha
3  Dominika   Kopecká       722 747 626                 34  Praha
4    Marcel     Hájek  +421 902 928 669                 35  Praha

In [23]:
platy = pandas.read_csv('platy_2021_02.csv')

platy_zamestnanci = pandas.merge(zamestnanci, platy)
platy_zamestnanci.head(50)
platy_zamestnanci.shape

(43, 6)

In [19]:
platy_zamestnanci.groupby("mesto")["plat"].mean()

mesto
Liberec    43775.000000
Plzeň      44792.857143
Praha      43295.238095
Name: plat, dtype: float64

### Zadání 2
Pokračuj ve své práci pro softwarovou firmu. Ze souboru vykazy.csv načti informace o výkazech na projekty pro jednoho vybraného zákazníka.

Načti data ze souboru a ulož je do tabulky.

Proveď agregaci a zjisti celkový počet vykázaných hodin za jednotlivé projekty.

In [34]:
vykazy = pandas.read_csv('vykazy.csv')
vykazy.head(10)
vykazy.groupby("project")["hours"].sum()

         date  hours project  emloyee_id
0  2021-02-01    2.5     F30          13
1  2021-02-01    3.4     W05          70
2  2021-02-01    2.1     JL9          72
3  2021-02-01    5.2     F30           3
4  2021-02-01    2.4     TE1          54
5  2021-02-01    4.1     TE1          83
6  2021-02-01    5.4     W05          92
7  2021-02-01    2.2     YLI          34
8  2021-02-01    2.7     YLI          84
9  2021-02-01    4.4     W05          30

# Nepovinný bonus 1

Ulož do proměnné počet zaměstnanců, kteří v naší firmě již nepracují.

V rámci úspory se IT oddělení rozhodlo prověřit licence přidělené zaměstnancům, kteří ve firmě již nepracují. 
Vytvoř samostatnou tabulku, která obsahuje jména zaměstnanců, kteří ve firmě již nepracují. 

Tabulku ulož do souboru CSV.

In [27]:
nepracuji_pocet = zamestnanci.shape[0]-platy_zamestnanci.shape[0]
print(nepracuji_pocet)

13

In [32]:
nepracuji_jmena = pandas.merge(zamestnanci, platy, how = "left")
nepracujici = nepracuji_jmena[nepracuji_jmena["plat"].isnull()]
nepracujici.to_csv('nepracujici.csv', index=False)

# Nepovinný bonus 2
Propoj tabulku s výkazy s tabulkou se zaměstnanci, kterou jsi vytvořil(a) v předchozím cvičení.

Následně proveď statistiku vykázaných hodin za jednotlivé kanceláře, tj. spočítej celkový počet hodin vykázaný zaměstnanci jednotlivých kanceláří na projekty daného zákazníka.

In [36]:
zamestnanci_vykazy = pandas.merge(zamestnanci, vykazy, left_on = "cislo_zamestnance", right_on = "emloyee_id")
zamestnanci_vykazy.head(50)

,jmeno,prijimeni,telefonni_cislo,cislo_zamestnance,mesto,date,hours,project,emloyee_id
0,Brian,Hall,+421 949 656 098,30,Praha,2021-02-01,4.4,W05,30
1,Dominika,Kopecká,722 747 626,34,Praha,2021-02-01,2.2,YLI,34
2,Dominika,Kopecká,722 747 626,34,Praha,2021-02-03,2.6,YLI,34
3,Catherine,Bender,604 068 460,40,Praha,2021-02-02,3.1,YLI,40
4,Catherine,Bender,604 068 460,40,Praha,2021-02-03,5.5,W05,40
5,Jeffrey,Šťastný,607 628 821,44,Praha,2021-02-02,2.4,YLI,44
6,Kamila,Říhová,+421 948 396 069,47,Praha,2021-02-02,2.6,W05,47
7,Kamila,Říhová,+421 948 396 069,47,Praha,2021-02-03,2.8,TE1,47
8,Karolína,Short,721 589 083,53,Praha,2021-02-02,5.6,F30,53
9,Karolína,Short,721 589 083,53,Praha,2021-02-02,3.6,YLI,53
10,Karolína,Short,721 589 083,53,Praha,2021-02-03,4.0,W05,53
11,Michelle,Vlčková,+421 41 720 7806,54,Praha,2021-02-01,2.4,TE1,54
12,Jeffrey,Pospíšil,+421 55 491 6940,56,Praha,2021-02-02,5.6,F30,56
13,Ladislav,Blažek,+421 910 274 975,57,Praha,2021-02-03,5.2,W05,57
14,Dillon,Black,734 300 978,70,Praha,2021-02-01,3.4,W05,70
15,Robert,Říha,727 351 984,72,Praha,2021-02-01,2.1,JL9,72
16,Stacy,Pospíšilová,727 293 880,3,Plzeň,2021-02-01,5.2,F30,3
17,Jindřich,Howell,+421 39 043 0948,10,Plzeň,2021-02-02,5.3,YLI,10
18,Alexander,Martinez,721 195 689,13,Plzeň,2021-02-01,2.5,F30,13
19,Miroslav,Reed,774 829 074,18,Plzeň,2021-02-03,2.6,F30,18
20,Nela,Šťastná,728 454 176,83,Liberec,2021-02-01,4.1,TE1,83
21,Heather,Marková,604 404 522,84,Liberec,2021-02-01,2.7,YLI,84
22,Jennifer,Brown,775 545 190,86,Liberec,2021-02-03,4.6,TE1,86
23,Jennifer,Brown,775 545 190,86,Liberec,2021-02-03,5.4,YLI,86
24,Ladislava,Blackwell,+421 913 487 200,87,Liberec,2021-02-03,2.1,TE1,87
25,Vasyl,Veselý,603 759 413,92,Liberec,2021-02-01,5.4,W05,92
26,Audrey,Allen,+421 908 839 506,96,Liberec,2021-02-03,3.7,YLI,96

In [41]:
zamestnanci_vykazy.groupby("mesto")["hours"].sum()

mesto
Liberec    28.0
Plzeň      15.6
Praha      57.5
Name: hours, dtype: float64

In [40]:
zamestnanci_vykazy.groupby(["mesto","project"])["hours"].sum()

mesto    project
Liberec  TE1        10.8
         W05         5.4
         YLI        11.8
Plzeň    F30        10.3
         YLI         5.3
Praha    F30        11.2
         JL9         2.1
         TE1         5.2
         W05        25.1
         YLI        13.9
Name: hours, dtype: float64